.App {
  height: 90vh;
  text-align: center;
  font-family: serif;
}

.Header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #222222;
  color: silver;
}

.logo-container-title {
  display: flex;
  justify-content: space-between;
}

.logo-container {
  display: flex;
  justify-content: flex-start;

}
.rxjs {
  content: 'RxJs';
  color: purple;
  width: 30px;
  height: 30px;
  background-image: url(../src/images/rx-logo.png);
  background-repeat: no-repeat;
  background-size: auto 25px;

}

.tmdb {
  margin-top: 5px;
  content: 'RxJs';
  color: purple;
  width: 70px;
  height: 30px;
  background-image: url(../src/images/tmdb.svg);
  background-repeat: no-repeat;
  background-size: auto 25px;

}
.github {
  width: 30px;
  background-image: url(../src/images/github.png);
  background-repeat: no-repeat;
  background-size: auto 25px;
  filter: brightness(20);

}
.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
